---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import Github from '../components/Icons/Github.astro';
import Linkedin from '../components/Icons/Linkedin.astro';
import SocialPill from '../components/SocialPill.astro';
import Mail from '../components/Icons/Mail.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../components/Icons/Briefcase.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Portfolio de Stiven Caicedo - Desarrollador y Programador web">
	<main class="px-4">
		<SectionContainer id="top" class="py-16 md:py-32 lg:py-44 pb-32" >
			<img
                class="rounded-full w-24 h-24 mr-4" 
                src="/Images/stivenfoto.jpg" 
                alt="Whalen Caicedo Photo"
            />
			<h1 id ="sobreMi" class="text-white/90 text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-4 lg:pb-10">Hola!! Soy Stiven Caicedo <a href="https://www.linkedin.com/in/whalen-stiven-caicedo/" target="_blank"  rel="noopener" class="flex justify-center items-center"><Badge>Disponible para Trabajar </Badge></a></h1>
			<h2 class="text-xl lg:text-2xl md:text-2xl opacity-80 text-wrap"> <span class="opacity-80"> Desarrollador Web </span></h2>
			<br>
			<h4 text-base md:text-lg leading-relaxed mt-4>Soy un <span class="text-yellow-200/95"> Desarrollador Web con conocimientos en frontend y backend </span> apasionado por crear aplicaciones web intuitivas y funcionales. Aunque no cuento con experiencia laboral formal, 
				he desarrollado varios <span class="text-yellow-200/95">proyectos independientes</span> que demuestran mis habilidades técnicas y creatividad. Con una sólida formación en  
				<span class="text-yellow-200/95">ingeniería de sistemas,</span> estoy listo para aplicar mis conocimientos en la industria, aportando soluciones innovadoras y centradas en el usuario. Estoy entusiasmado por colaborar en proyectos desafiantes que me permitan seguir creciendo y contribuyendo al éxito del equipo.</h4>
		
					
			<nav id="contacto" class="flex flex-col sm:flex-row gap-4 mt-2">
				<SocialPill href="https://github.com/whastica">
					<Github class="size-4 lg:size-6"/>
					Github
				</SocialPill>
				<SocialPill href="https://www.linkedin.com/in/whalen-stiven-caicedo/">
					<Linkedin class="size-4 lg:size-6"/>
					LinkedIn
				</SocialPill>
				<SocialPill href="mailto:whalensoft@gmail.com"> <!-- Cambié el href para el correo -->
					<Mail class="size-4 lg:size-6"/>
					whalensoft@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-2xl font-semibold mb-2 flex gap-2 items-center">
				<Briefcase class="size-7"/>
				Proyectos
			</h2>
			<Projects/>
		</SectionContainer>


		
	</main>
</Layout>

