---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import Github from '../components/Icons/Github.astro';
import Linkedin from '../components/Icons/Linkedin.astro';
import SocialPill from '../components/SocialPill.astro';
import Mail from '../components/Icons/Mail.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../components/Icons/Briefcase.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Portfolio de Stiven Caicedo - Desarrollador y Programador web">
	<main class="px-4">
		<SectionContainer class="py-16 md:py-32 lg:py-44 pb-32" >
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-4 lg:pb-10">Hola!! Soy Stiven Caicedo <a href="https://www.linkedin.com/in/whalen-stiven-caicedo/" target="_blank"  rel="noopener" class="flex justify-center items-center"><Badge>Disponible para Trabajar </Badge></a></h1>
			<h2 class="text-xl lg:text-2xl md:text-2xl opacity-80 text-wrap"> <span class="opacity-80"> Desarrollador Web Frontend </span></h2>
			<h4 text-base md:text-lg leading-relaxed mt-4>Mis amigos mas cercanos me llaman Whalen, Desde que descubrí el fascinante mundo de la programación hace más de 8 años, mientras estudiaba un <span class="text-yellow-200/95">tecnico en sistemas</span>, 
				supe que quería dedicarme a crear experiencias web de calidad. Esta pasión me llevó a seguir formándome como <span class="text-yellow-200/95">ingeniero de sistemas</span>, donde he tenido la oportunidad de desarrollar proyectos que combinan creatividad, 
				lógica y tecnología. 
			</h4>
			<h4 text-base md:text-lg leading-relaxed mt-4>Aunque aún no tengo experiencia laboral formal, he creado varias aplicaciones web de forma independiente para perfeccionar mis habilidades y ofrecer soluciones innovadoras. 
				Me motiva transformar ideas en plataformas que realmente marquen la diferencia para los usuarios, enfocándome siempre en crear interfaces intuitivas, funcionales y atractivas.  
			</h4>
			<h4 text-base md:text-lg leading-relaxed mt-4>Estoy siempre buscando nuevas oportunidades para crecer y colaborar en proyectos que desafíen mi creatividad y habilidades como desarrollador frontend.</h4>
					
			<nav class="flex flex-col sm:flex-row gap-4 mt-8">
				<SocialPill href="https://github.com/whastica">
					<Github class="size-4 lg:size-6"/>
					Github
				</SocialPill>
				<SocialPill href="https://www.linkedin.com/in/whalen-stiven-caicedo/">
					<Linkedin class="size-4 lg:size-6"/>
					LinkedIn
				</SocialPill>
				<SocialPill href="https://www.linkedin.com/in/whalen-stiven-caicedo/">
					<Mail class="size-4 lg:size-6"/>
					whalensoft@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-2xl font-semibold mb-8 flex gap-2 items-center">
				<Briefcase class="size-7"/>
				Proyectos
			</h2>
			<Projects/>
		</SectionContainer>


		
	</main>
</Layout>

