<span 
  class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 
  dark:bg-blue-900 dark:text-blue-300 rounded-full border border-white/10 flex justify-center items-center w-fit">
  <slot />
</span>

