<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    <nav class="flex space-x-2 flex-row gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#sobreMi">Acerca de mi</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#contacto">Contacto</a>
    </nav>
    <button id="theme-toggle" class="ml-4 bg-gray-800 text-white py-2 px-4 rounded">
        Cambiar Tema
    </button>
</header>