<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
    <img
        class="rounded-full w-12 h-12 " 
        src="/Images/stivenfoto.jpg" 
        alt="Whalen Caicedo Photo"
    >

    <nav class="flex space-x-2 flex-row gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#sobreMi">Acerca de mi</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#contacto">Contacto</a>
    </nav>

</header>