---
import { PROJECTS } from '../data/projects';
import ProjectCard from '../components/ProjectCard.astro';
---

<div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
  {PROJECTS.map(project => (
    <ProjectCard {...project} />
  ))}
</div>