<a class="rounded-full 
    border border-white/10 
    flex justify-center 
    items-center
    py-2 px-4
    gap-x-2 bg-white/5 
    hover:scale-110 hover:bg-white/15 
    transition" {...Astro.props}>
    <slot/>
</a>