--- 
import '@fontsource-variable/onest';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen flex flex-col">
		<Header />
		<main class="relative z-10 flex-grow">
			<slot />
		</main>
		<Footer class="relative z-10 bg-transparent" />
	</body>
</html>

<style is:global>
    :root {
        color-scheme: light dark;
    }
    html {
        font-family: 'Onest', system-ui, sans-serif;
    }

    body {
        background: linear-gradient(#1a1a1a); /* Fondo oscuro por defecto */
        display: flex;
        flex-direction: column;
        height: 100vh;
        transition: background 0.3s ease; /* Para una transición suave */
    }

    body.light {
        background: #e0e0e0; /* Fondo claro */
        color: #000; /* Texto oscuro */
    }

    /* Enlaces del menú */
    nav a {
        color: #ffffff; /* Color de enlaces en modo oscuro */
        transition: color 0.3s; /* Transición suave */
    }

    body.light nav a {
        color: #1a1a1a; /* Color de enlaces en modo claro */
    }

    /* Estilo para las tag pills (botones o elementos similares) */
    .tag-pill {
        background-color: #d0d0d0; /* Fondo más oscuro para contraste */
        color: #1a1a1a; /* Texto oscuro */
        padding: 8px 12px; /* Espaciado interno */
        border-radius: 8px; /* Bordes redondeados */
        transition: background 0.3s; /* Transición suave */
        margin-right: 8px; /* Espaciado entre las tag pills */
    }

    .tag-pill:hover {
        background-color: #b0b0b0; /* Color en hover para las tag pills */
    }
</style>

<script>
	const themeToggleButton = document.getElementById('theme-toggle');
	const currentTheme = localStorage.getItem('theme');
  
	// Aplicar el tema guardado en localStorage
    
	if (currentTheme) {
	  document.body.classList.toggle('light', currentTheme === 'light');
      if (themeToggleButton) {
        themeToggleButton.textContent = currentTheme === 'light' ? 'Modo Día' : 'Modo Noche';
      }
	}

    if (themeToggleButton) {
        themeToggleButton.addEventListener('click', () => {
        const isLightTheme = document.body.classList.toggle('light');
        const newTheme = isLightTheme ? 'light' : 'dark';
        
        // Cambiar el texto del botón
        themeToggleButton.textContent = isLightTheme ? 'Modo Día' : 'Modo Noche';
    
        // Guardar el tema en localStorage
        localStorage.setItem('theme', newTheme);
        
        });
    }
  </script>